Repository contao/package-metadata, changes with the owners that CODEOWNERS names for each.
All owners: @aschempp, @Toflar, @bastibuck, @bohnmedia, @bright-cloud-studio, @christianbarkowsky, @BugBuster1701, @rabauss, @cliffparnitzky, @qzminski, @coastforge-mei, @contao/reviewers, @MDevster, @contao-themes-shop, @do-while, @denniserdmann, @richardhj, @devtty80, @eS-IT, @frontendschlampe, @fritzmg, @netzarbeiter, @ausi, @felix-kaestner, @derkurier100, @dmolineus, @bennyborn, @bytehead, @sheeep, @syncgw, @trilobit-gmbh, @7FyOh, @doishub, @eki89

CODEOWNERS:

/.github @aschempp @Toflar
/indexer @aschempp @Toflar
/linter/src @aschempp @Toflar

/meta/
/meta/bastibuck/ @bastibuck
/meta/bohnmedia/ @bohnmedia
/meta/bright-cloud-studio/ @bright-cloud-studio
/meta/brkwsky/ @christianbarkowsky
/meta/bugbuster/ @BugBuster1701
/meta/bwein-net/ @rabauss
/meta/christianbarkowsky/ @christianbarkowsky
/meta/cliffparnitzky/ @cliffparnitzky
/meta/codefog/ @qzminski
/meta/con4gis/ @coastforge-mei
/meta/contao/ @contao/reviewers
/meta/contao-components/ @contao/reviewers
/meta/contao-themes-net/ @MDevster
/meta/contao-themes-shop/ @contao-themes-shop
/meta/contao-dd/ @MDevster
/meta/contao-monitoring/ @cliffparnitzky
/meta/contao-dms/ @cliffparnitzky
/meta/do-while/ @do-while
/meta/erdmannfreunde/ @denniserdmann @richardhj
/meta/eikona-media/ @rabauss @devtty80
/meta/esit/ @eS-IT
/meta/estao-immo/ @christianbarkowsky
/meta/friends-of-contao/ @frontendschlampe
/meta/fritzmg/ @fritzmg
/meta/gutesio/ @coastforge-mei
/meta/inspiredminds/ @fritzmg
/meta/isotope/ @aschempp @Toflar @netzarbeiter
/meta/madeyourday/ @ausi
/meta/markenzoo/ @felix-kaestner
/meta/myparcelcom/ @derkurier100
/meta/netzmacht/ @dmolineus
/meta/numero2/ @bennyborn
/meta/oneup/ @bytehead @sheeep
/meta/pdir/ @MDevster
/meta/syncgw/ @syncgw
/meta/terminal42/ @aschempp @Toflar @qzminski @richardhj
/meta/trilobit-gmbh/ @trilobit-gmbh
/meta/wangaz/ @7FyOh
/meta/oveleon/ @doishub @eki89
/meta/contao-thememanager/ @doishub @eki89
/meta/contao-estatemanager/ @doishub @eki89

Fix wrong meta data
  meta/dreibein/contao-activity-bundle/de.yml
  meta/dreibein/contao-activity-bundle/en.yml
Owners: none

Add new job bundles
  meta/dreibein/contao-jobletter-bundle/de.yml
  meta/dreibein/contao-jobletter-bundle/en.yml
  meta/dreibein/contao-jobposting-bundle/de.yml
  meta/dreibein/contao-jobposting-bundle/en.yml
Owners: none

Improve the yaml configuration for the new bundles
  meta/dreibein/contao-jobletter-bundle/de.yml
  meta/dreibein/contao-jobletter-bundle/en.yml
  meta/dreibein/contao-jobposting-bundle/de.yml
  meta/dreibein/contao-jobposting-bundle/en.yml
Owners: none

Add Jobletter and Jobposting to linter/allowlist
  linter/allowlists/de.txt
  linter/allowlists/en.txt
Owners: none

Update meta description
  meta/dreibein/contao-jobletter-bundle/de.yml
  meta/dreibein/contao-jobletter-bundle/en.yml
  meta/dreibein/contao-jobposting-bundle/de.yml
Owners: none

Add dreibein/contao-jobposting-bundle and dreibein/contao-jobletter-bundle (#392)
  linter/allowlists/de.txt
  linter/allowlists/en.txt
  meta/dreibein/contao-activity-bundle/de.yml
  meta/dreibein/contao-jobletter-bundle/de.yml
  meta/dreibein/contao-jobletter-bundle/en.yml
  meta/dreibein/contao-jobposting-bundle/de.yml
  meta/dreibein/contao-jobposting-bundle/en.yml
Owners: none

Add oveleon/contao-glossary-bundle
  meta/oveleon/contao-glossary-bundle/de.yml
  meta/oveleon/contao-glossary-bundle/en.yml
  meta/oveleon/contao-glossary-bundle/logo.svg
Owners: @doishub, @eki89

Update meta/oveleon/contao-glossary-bundle/de.yml
  meta/oveleon/contao-glossary-bundle/de.yml
Owners: @doishub, @eki89

Update meta/oveleon/contao-glossary-bundle/en.yml
  meta/oveleon/contao-glossary-bundle/en.yml
Owners: @doishub, @eki89

Added new words to whitelist
  linter/allowlists/de.txt
  linter/allowlists/en.txt
Owners: none

Add oveleon/contao-glossary-bundle (#393)
  linter/allowlists/de.txt
  linter/allowlists/en.txt
  meta/oveleon/contao-glossary-bundle/de.yml
  meta/oveleon/contao-glossary-bundle/en.yml
  meta/oveleon/contao-glossary-bundle/logo.svg
Owners: @doishub, @eki89

added logo
  meta/lindesbs/logo.svg
Owners: none

optimize logo
  meta/lindesbs/logo.svg
Owners: none

added logo (#395)
  meta/lindesbs/logo.svg
Owners: none

fix english files
  meta/pdir/business-reviews-pro-bundle/en.yml
  meta/pdir/business-reviews-pro-facebook-plugin/en.yml
  meta/pdir/business-reviews-pro-google-my-business-plugin/en.yml
  meta/pdir/business-reviews-pro-immobilienscout24-plugin/en.yml
  meta/pdir/business-reviews-pro-trustedshops-plugin/en.yml
  meta/pdir/business-reviews-starter-bundle/en.yml
  meta/pdir/catalog-manager-isotope-bridge/en.yml
  meta/pdir/contao-pulse-bundle/en.yml
  meta/pdir/contao-sharepoint-bundle/en.yml
  meta/pdir/krpano-bundle/en.yml
  meta/pdir/panorama-bundle/en.yml
Owners: @MDevster

fix english files
  meta/pdir/contao-sticky-footer/en.yml
Owners: @MDevster

add single new line at end of file
  meta/pdir/catalog-manager-isotope-bridge/en.yml
Owners: @MDevster

Updated linter deps
  linter/composer.lock
Owners: none

Fixed spelling issues
  linter/allowlists/de.txt
  linter/allowlists/default.txt
  meta/pdir/contao-pulse-bundle/en.yml
  meta/pdir/contao-sticky-footer/de.yml
  meta/pdir/contao-sticky-footer/en.yml
Owners: @MDevster

update pdir/social-feed-bundle
  meta/pdir/social-feed-bundle/de.yml
  meta/pdir/social-feed-bundle/en.yml
Owners: @MDevster

update pdir/social-feed-bundle (#397)
  meta/pdir/social-feed-bundle/de.yml
  meta/pdir/social-feed-bundle/en.yml
Owners: @MDevster

Contao Recruitee Bundle - BROCKHAUS AG
  meta/brockhaus-ag/contao-recruitee-bundle/de.yml
  meta/brockhaus-ag/contao-recruitee-bundle/en.yml
  meta/brockhaus-ag/logo.svg
Owners: none

Contao Microsoft SSO Bundle - BROCKHAUS AG
  meta/brockhaus-ag/contao-microsoft-sso-bundle/de.yml
  meta/brockhaus-ag/contao-microsoft-sso-bundle/en.yml
Owners: none

refactored
  meta/brockhaus-ag/contao-microsoft-sso-bundle/en.yml
  meta/brockhaus-ag/contao-recruitee-bundle/en.yml
Owners: none

refactored (added at the end of the files a new line)
  meta/brockhaus-ag/contao-microsoft-sso-bundle/de.yml
  meta/brockhaus-ag/contao-microsoft-sso-bundle/en.yml
  meta/brockhaus-ag/contao-recruitee-bundle/de.yml
  meta/brockhaus-ag/contao-recruitee-bundle/en.yml
Owners: none

refactored (language key)
  meta/brockhaus-ag/contao-microsoft-sso-bundle/en.yml
Owners: none

Add contao-testimonials-bundle
  meta/plenta/contao-testimonials-bundle/de.yml
  meta/plenta/contao-testimonials-bundle/en.yml
Owners: none

Add contao-testimonials-bundle
  meta/plenta/contao-testimonials-bundle/de.yml
Owners: none

Add contao-testimonials-bundle
  meta/plenta/contao-testimonials-bundle/de.yml
Owners: none

Add contao-testimonials-bundle
  meta/plenta/contao-testimonials-bundle/de.yml
Owners: none

Add contao-testimonials-bundle
  meta/plenta/contao-testimonials-bundle/de.yml
  meta/plenta/contao-testimonials-bundle/en.yml
Owners: none

Update meta/brockhaus-ag/contao-microsoft-sso-bundle/en.yml
  meta/brockhaus-ag/contao-microsoft-sso-bundle/en.yml
Owners: none

Update meta/brockhaus-ag/contao-recruitee-bundle/de.yml
  meta/brockhaus-ag/contao-recruitee-bundle/de.yml
Owners: none

added words to whitelist
  linter/allowlists/default.txt
Owners: none

fixed typo
  meta/brockhaus-ag/contao-recruitee-bundle/en.yml
Owners: none

Contao Bundle metadata - BROCKHAUS AG (#398)
  linter/allowlists/default.txt
  meta/brockhaus-ag/contao-microsoft-sso-bundle/de.yml
  meta/brockhaus-ag/contao-microsoft-sso-bundle/en.yml
  meta/brockhaus-ag/contao-recruitee-bundle/de.yml
  meta/brockhaus-ag/contao-recruitee-bundle/en.yml
  meta/brockhaus-ag/logo.svg
Owners: none

add title to allow list
  linter/allowlists/de.txt
Owners: none

Testimonials added
  linter/allowlists/de.txt
Owners: none

Feature/plenta (#399)
  linter/allowlists/de.txt
  meta/plenta/contao-testimonials-bundle/de.yml
  meta/plenta/contao-testimonials-bundle/en.yml
Owners: none

Create de.yml
  meta/fast-media/simple-products/de.yml
Owners: none
