Repository contao/package-metadata, changes with the owners that CODEOWNERS names for each.
All owners: @BugBuster1701, @qzminski, @coastforge-mei, @leofeyer, @Toflar, @aschempp, @ausi, @MDevster, @cliffparnitzky, @netzarbeiter, @bytehead, @sheeep, @richardhj, @7FyOh

CODEOWNERS:

/meta/bugbuster/ @BugBuster1701
/meta/codefog/ @qzminski
/meta/con4gis/ @coastforge-mei
/meta/contao/ @leofeyer @Toflar @aschempp @ausi
/meta/contao-components/ @leofeyer @Toflar @aschempp @ausi
/meta/contao-themes-net/ @MDevster
/meta/contao-dd/ @MDevster
/meta/contao-monitoring/ @cliffparnitzky
/meta/contao-dms/ @cliffparnitzky
/meta/isotope/ @aschempp @Toflar @netzarbeiter
/meta/madeyourday/ @ausi
/meta/pdir/ @MDevster
/meta/oneup/ @bytehead @sheeep
/meta/terminal42/ @aschempp @Toflar @qzminski @richardhj
/meta/wangaz/ @7FyOh

Improve all descriptions
  meta/contao/calendar-bundle/de.yml
  meta/contao/calendar-bundle/en.yml
  meta/contao/comments-bundle/de.yml
  meta/contao/comments-bundle/en.yml
  meta/contao/faq-bundle/de.yml
  meta/contao/faq-bundle/en.yml
  meta/contao/listing-bundle/de.yml
  meta/contao/listing-bundle/en.yml
  meta/contao/manager-bundle/de.yml
  meta/contao/manager-bundle/en.yml
  meta/contao/manager-bundle/es.yml
  meta/contao/manager-bundle/fr.yml
  meta/contao/mobile-page-layout-bundle/de.yml
  meta/contao/mobile-page-layout-bundle/en.yml
  meta/contao/news-bundle/de.yml
  meta/contao/news-bundle/en.yml
  meta/contao/newsletter-bundle/de.yml
  meta/contao/newsletter-bundle/en.yml
  meta/contao/official-demo/de.yml
  meta/contao/official-demo/en.yml
  meta/contao/skeleton-bundle/en.yml
  meta/contao/tcpdf-bundle/de.yml
  meta/contao/tcpdf-bundle/en.yml
Owners: @leofeyer, @Toflar, @aschempp, @ausi

Updated whitelist
  linter/whitelists/de.txt
Owners: none

Remove dependency flag from manager-bundle
  meta/contao/manager-bundle/de.yml
  meta/contao/manager-bundle/en.yml
  meta/contao/manager-bundle/es.yml
  meta/contao/manager-bundle/fr.yml
Owners: @leofeyer, @Toflar, @aschempp, @ausi

Updated whitelist
  linter/whitelists/de.txt
Owners: none

Updated whitelist
  linter/whitelists/en.txt
Owners: none

Updated whitelist
  linter/whitelists/default.txt
Owners: none

Added option to skip private check
  linter/src/LintCommand.php
Owners: none

Add spanish and french spell checkers
  .travis.yml
Owners: none

Added all Contao repos (#123)
  .travis.yml
  linter/whitelists/de.txt
  linter/whitelists/default.txt
  linter/whitelists/en.txt
  meta/contao/calendar-bundle/de.yml
  meta/contao/calendar-bundle/en.yml
  meta/contao/comments-bundle/de.yml
  meta/contao/comments-bundle/en.yml
  meta/contao/faq-bundle/de.yml
  meta/contao/faq-bundle/en.yml
  meta/contao/listing-bundle/de.yml
  meta/contao/listing-bundle/en.yml
  meta/contao/manager-bundle/de.yml
  meta/contao/manager-bundle/en.yml
  meta/contao/manager-bundle/es.yml
  meta/contao/manager-bundle/fr.yml
  meta/contao/mobile-page-layout-bundle/de.yml
  meta/contao/mobile-page-layout-bundle/en.yml
  meta/contao/news-bundle/de.yml
  meta/contao/news-bundle/en.yml
  meta/contao/newsletter-bundle/de.yml
  meta/contao/newsletter-bundle/en.yml
  meta/contao/official-demo/de.yml
  meta/contao/official-demo/en.yml
  meta/contao/tcpdf-bundle/de.yml
  meta/contao/tcpdf-bundle/en.yml
Owners: @leofeyer, @Toflar, @aschempp, @ausi

Added Isotope Demo (#120)
  meta/isotope/isotope-demo/de.yml
  meta/isotope/isotope-demo/en.yml
  meta/isotope/isotope-demo/logo.svg
Owners: @aschempp, @Toflar, @netzarbeiter

Added terminal42/contao-node (#125)
  meta/terminal42/contao-node/de.yml
  meta/terminal42/contao-node/en.yml
Owners: @aschempp, @Toflar, @qzminski, @richardhj

Added dependency flag
  linter/schema.json
  meta/codefog/contao-haste/en.yml
  meta/contao-components/ace/en.yml
  meta/contao-components/chosen/en.yml
  meta/contao-components/colorbox/en.yml
  meta/contao-components/colorpicker/en.yml
  meta/contao-components/contao/en.yml
  meta/contao-components/datepicker/en.yml
  meta/contao-components/dropzone/en.yml
  meta/contao-components/highlight/en.yml
  meta/contao-components/jquery-ui/en.yml
  meta/contao-components/jquery/en.yml
  meta/contao-components/mediabox/en.yml
  meta/contao-components/mootools/en.yml
  meta/contao-components/simplemodal/en.yml
  meta/contao-components/swipe/en.yml
  meta/contao-components/tablesort/en.yml
  meta/contao-components/tablesorter/en.yml
  meta/contao-components/tinymce4/en.yml
  meta/contao/skeleton-bundle/en.yml
Owners: @qzminski, @leofeyer, @Toflar, @aschempp, @ausi

Mark various packages as dependency
  meta/contao-community-alliance/dc-general/en.yml
  meta/contao-community-alliance/dependency-container/en.yml
  meta/contao-community-alliance/event-dispatcher/en.yml
  meta/contao-community-alliance/events-contao-bindings/en.yml
  meta/contao-components/html5shiv/en.yml
  meta/contao-components/respimage/en.yml
  meta/contao-components/stylect/en.yml
  meta/terminal42/dc_multilingual/de.yml
  meta/terminal42/dc_multilingual/en.yml
Owners: @leofeyer, @Toflar, @aschempp, @ausi, @qzminski, @richardhj

Added manager-bundle and core-bundle
  meta/contao/core-bundle/en.yml
  meta/contao/manager-bundle/en.yml
Owners: @leofeyer, @Toflar, @aschempp, @ausi

Added dependency flag (#124)
  linter/schema.json
  meta/codefog/contao-haste/en.yml
  meta/contao-community-alliance/dc-general/en.yml
  meta/contao-community-alliance/dependency-container/en.yml
  meta/contao-community-alliance/event-dispatcher/en.yml
  meta/contao-community-alliance/events-contao-bindings/en.yml
  meta/contao-components/ace/en.yml
  meta/contao-components/chosen/en.yml
  meta/contao-components/colorbox/en.yml
  meta/contao-components/colorpicker/en.yml
  meta/contao-components/contao/en.yml
  meta/contao-components/datepicker/en.yml
  meta/contao-components/dropzone/en.yml
  meta/contao-components/highlight/en.yml
  meta/contao-components/html5shiv/en.yml
  meta/contao-components/jquery-ui/en.yml
  meta/contao-components/jquery/en.yml
  meta/contao-components/mediabox/en.yml
  meta/contao-components/mootools/en.yml
  meta/contao-components/respimage/en.yml
  meta/contao-components/simplemodal/en.yml
  meta/contao-components/stylect/en.yml
  meta/contao-components/swipe/en.yml
  meta/contao-components/tablesort/en.yml
  meta/contao-components/tablesorter/en.yml
  meta/contao-components/tinymce4/en.yml
  meta/contao/core-bundle/en.yml
  meta/contao/manager-bundle/en.yml
  meta/contao/skeleton-bundle/en.yml
  meta/terminal42/dc_multilingual/de.yml
  meta/terminal42/dc_multilingual/en.yml
Owners: @qzminski, @leofeyer, @Toflar, @aschempp, @ausi, @richardhj

Added some more dependencies
  meta/contao-community-alliance/meta-palettes/en.yml
  meta/contao-community-alliance/translator/en.yml
  meta/contao-components/mediaelement/en.yml
  meta/discordier/justtextwidgets/en.yml
  meta/terminal42/contao-tablelookupwizard/de.yml
  meta/terminal42/contao-tablelookupwizard/en.yml
  meta/terminal42/dcawizard/en.yml
Owners: @leofeyer, @Toflar, @aschempp, @ausi, @qzminski, @richardhj

Added some more dependencies (#128)
  meta/contao-community-alliance/meta-palettes/en.yml
  meta/contao-community-alliance/translator/en.yml
  meta/contao-components/mediaelement/en.yml
  meta/discordier/justtextwidgets/en.yml
  meta/terminal42/contao-tablelookupwizard/de.yml
  meta/terminal42/contao-tablelookupwizard/en.yml
  meta/terminal42/dcawizard/en.yml
Owners: @leofeyer, @Toflar, @aschempp, @ausi, @qzminski, @richardhj

Added some more dependencies
  meta/avisota/contao-core/en.yml
  meta/avisota/contao/en.yml
  meta/delahaye/dlh_geocode/de.yml
  meta/delahaye/dlh_geocode/en.yml
  meta/heimrichhannot/contao-haste_plus/en.yml
  meta/heimrichhannot/contao-request-bundle/en.yml
  meta/heimrichhannot/contao-utils-bundle/en.yml
  meta/menatwork/contao-multicolumnwizard-bundle/de.yml
  meta/menatwork/contao-multicolumnwizard-bundle/en.yml
  meta/menatwork/contao-multicolumnwizard/en.yml
Owners: none

Add docs section about allowed syntax
  docs/de/README.md
  docs/en/README.md
Owners: none
